body{
color: aliceblue;
}
/* Flexbox Container starts */
.flexbox{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* Flexbox Container Ends */

/* Flexbox Items starts */
.box{
    background-color:red;
    height:100px;
    width:100px;
}
/* Flexbox Items Ends */